<%- include('../head') %>
<div class="container mt2">

    <img src="/img/Ok.png" class="center">
    <h2 class="center"><%- uuid %></h2>
    <p class="center">Your request has been submitted. Please make note of your request ID.</p>
    <p class="center">This needs to be written written on your samples.</p>


    <!--<div class="print-label">-->
    <!--<div class="print-label-block">-->
    <!--<p>UUID</p>-->
    <!--</div>-->

    <!--<div class="print-label-block">-->
    <!--<p>date</p>-->
    <!--</div>-->

    <!--<div class="print-label-block">-->
    <!--<p>full name</p>-->
    <!--<p>lab</p>-->
    <!--</div>-->
    <!--</div>-->

</div>

<%- include('../foot') %>
