<% include head.ejs %>

<div class="container">

    <div class="container">
        <h2>Hello</h2>

        <p>Welcome to the request submission form for TSL Proteomics.</p>
        <a href="/new" class="btn btn-success">New Request</a>
    </div>




</div>
<% include foot.ejs %>