<% include head.ejs %>


<div class="required-reading mt2 mb2">
    <div class="container">


        <h2 class="center">Sample Preparation</h2>

        <h3>In gel - Gel slices:</h3>

        <p>Please cut gel bands into cubes (approx. 2-3mm) so that they sit at the base of the tube. Do not mash the gel
            into very tiny pieces as these can block the autosampler.
            Do not expose the gels to dust/hair/skin contamination. Use gloves, clean containers, clean scalpel,
            dust-free solutions throughout the procedure.</p>

        <h3>In solution - Precipitates:</h3>

        <p>In general use as pure chemicals in the sample preparation procedure as possible. Old chemicals of dubious
            origin typically contain detergents, polymers (e.g. PEG) and other “chemical background” that can severely
            compromise LC-MS performance.

            Please state (below) which detergents you have used at ANY stage of your sample preparation – including the
            initial extraction buffer. This is critical as some detergents contaminate HPLC column, the mass spec and
            reduce its performance for everyone. Among the known problematic compounds belong commonly used SDS,
            Triton-X-100, Tween and PEG.</p>

        <p class="bold">
            Before submitting samples containing the above mentioned come to discuss clean up procedure.
        </p>

        <h3>DIY digest</h3>

        <p>Please note that we may ask you to help with protein digests. This contribution is usually asked in case of
            long term projects, with submission of 20+ samples, or when temporary overload of samples to process occurs.
            Protocol</p>


        <div class="checkbox mt2 center">
            <label>
                <input type="checkbox" id="required-readme"> I have completed the above
            </label>
        </div>

    </div>
</div>

<form action="/new" method="post" class="disabled" id="new-form">
    <div class="container">

        <div class="row">
            <div class="col-md-6">
                <div class="group">
                    <div class="container">
                        <span class="badge"></span>
                        <fieldset>
                            <img src="/img/Eyedropper-Tool.png" class="center">

                            <h3 class="group-label">Biological Materia</h3>

                            <div class="form-group">
                                <label>Species <span data-icon="&#x74;" class="tip"
                                                     data-tipso="This needs to be filled out"></span></label>
                                <select class="form-control" id="species" name="species" required>
                                    <option disabled selected value></option>
                                    <option>
                                        Arabidopsis
                                    </option>
                                    <option>
                                        Nicotiana benthamiana
                                    </option>
                                    <option>
                                        tamato
                                    </option>
                                    <option>
                                        medicago
                                    </option>
                                    <option>
                                        rice
                                    </option>
                                    <option>
                                        poplar
                                    </option>
                                    <option>
                                        phytopthora
                                    </option>
                                    <option>
                                        magnaporte
                                    </option>
                                    <option>
                                        tobacco
                                    </option>

                                </select>
                            </div>
                            <div class="form-group">
                                <label>Preferred database for searches <span data-icon="&#x74;" class="tip"
                                                                             data-tipso="This needs to be filled out"></span></label>
                                <select class="form-control" id="searchDatabase" name="searchDatabase" required>
                                    <option disabled selected value></option>
                                    <option>Arabidopsis</option>
                                    <option>Nicotiana benthamiana</option>
                                    <option>tamato</option>
                                    <option>medicago</option>
                                    <option>rice</option>
                                    <option>poplar</option>
                                    <option>phytopthora</option>
                                    <option>magnaporte</option>
                                    <option>tobacco</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label>Tissue <span data-icon="&#x74;" class="tip"
                                                    data-tipso="This needs to be filled out"></span></label>
                                <select class="form-control" id="tissue" name="tissue" required>
                                    <option disabled selected value></option>
                                    <option>seedlings</option>
                                    <option>leaves</option>
                                    <option>rosette</option>
                                    <option>roots</option>
                                    <option>roots</option>
                                    <option>cell culture</option>
                                    <option>callus</option>
                                    <option>flower</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label>Tissue age <span data-icon="&#x74;" class="tip"
                                                        data-tipso="This needs to be filled out"></span></label>

                                <div class="row">
                                    <div class="col-md-6">
                                        <input class="form-control" type="number" id="tissueAgeNum" name="tissueAgeNum"
                                               required>
                                    </div>
                                    <div class="col-md-6">
                                        <select class="form-control" id="tissueAgeType" name="tissueAgeType" required>
                                            <option disabled selected value></option>
                                            <option>hour(s)</option>
                                            <option>day(s)</option>
                                            <option>week(s)</option>
                                        </select>
                                    </div>
                                </div>


                            </div>
                            <div class="form-group">
                                <label>Growth conditions <span data-icon="&#x74;" class="tip"
                                                               data-tipso="This needs to be filled out"></span></label>
                                <select class="form-control" id="growthConditions" name="growthConditions" required>
                                    <option disabled selected value></option>
                                    <option>plate</option>
                                    <option>liquid</option>
                                    <option>6well</option>
                                    <option>soil grown</option>
                                    <option>hydrophonics</option>
                                </select>
                            </div>
                        </fieldset>

                    </div>
                </div>
                <!---->
                <div class="group">
                    <div class="container">
                        <span class="badge"></span>
                        <fieldset>
                            <img src="/img/Properties.png" class="center">

                            <h3 class="group-label">Type of Analysis</h3>

                            <div class="form-group">
                                <label>Type of analysis <span data-icon="&#x74;" class="tip"
                                                              data-tipso="This needs to be filled out"></span></label>
                                <select class="form-control" id="analysisType" name="analysisType" required>
                                    <option disabled selected value></option>
                                    <option>discovery</option>
                                    <option>SRM</option>
                                    <option>PRM</option>
                                    <option>DIA</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label>Type of PTM <span data-icon="&#x74;" class="tip"
                                                         data-tipso="This needs to be filled out"></span></label>
                                <select class="form-control" id="typeOfPTM" name="typeOfPTM" required>
                                    <option disabled selected value></option>
                                    <option>all</option>
                                    <option>non-modified</option>
                                    <option>phosphorylation</option>
                                    <option>acetylation</option>
                                    <option>Ubiquitination</option>
                                    <option>glycosylation</option>
                                    <option>polyadenine ribosylation</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label>Quantitative analysis required <span data-icon="&#x74;" class="tip"
                                                                            data-tipso="This needs to be filled out"></span></label>
                                <select class="form-control" id="quantitativeAnalysisRequired"
                                        name="quantitativeAnalysisRequired" required>
                                    <option disabled selected value></option>
                                    <option>none</option>
                                    <option>semi</option>
                                    <option>relative</option>
                                    <option>absolute</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label>Type of labeling <span data-icon="&#x74;" class="tip"
                                                              data-tipso="This needs to be filled out"></span></label>
                                <select class="form-control" id="typeOfLabeling" name="typeOfLabeling" required>
                                    <option disabled selected value></option>
                                    <option>label-free</option>
                                    <option>post-extraction</option>
                                    <option>metabolic</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label>Label used <span data-icon="&#x74;" class="tip"
                                                        data-tipso="This needs to be filled out"></span></label>
                                <select class="form-control" id="labelUsed" name="labelUsed" required>
                                    <option>none (added due to label-free option above)</option>
                                    <option disabled selected value></option>
                                    <option>TMT0</option>
                                    <option>TMT6</option>
                                    <option>TMT10</option>
                                    <option>iTRAQ</option>
                                    <option>15N</option>
                                </select>
                            </div>
                        </fieldset>

                    </div>
                </div>
                <!---->
            </div>
            <div class="col-md-6">
                <div class="group">
                    <div class="container">
                        <span class="badge"></span>

                        <fieldset>

                            <img src="/img/Attachment.png" class="center">

                            <h3 class="group-label">Project Description</h3>

                            <div class="form-group">
                                <label>Supporting images <span data-icon="&#x74;" class="tip"
                                                               data-tipso="This needs to be filled out"></span></label>
                                <input class="form-control" type="file" id="supportingImages" name="supportingImages"
                                       required>
                            </div>
                            <div class="form-group">
                                <label>Supporting image description <span data-icon="&#x74;" class="tip"
                                                                          data-tipso="This needs to be filled out"></span></label>
                                <input class="form-control" type="text" id="supportingImageDescription"
                                       name="supportingImageDescription"
                                       required>
                            </div>
                        </fieldset>

                    </div>
                </div>
                <!---->
                <div class="group">
                    <div class="container">
                        <span class="badge"></span>
                        <fieldset>
                            <img src="/img/Wash-Cold.png" class="center">

                            <h3 class="group-label">Sample Preparation</h3>

                            <div class="form-group">
                                <label>Sample preparation <span data-icon="&#x74;" class="tip"
                                                                data-tipso="This needs to be filled out"></span></label>
                                <select class="form-control" id="samplePrep" name="samplePrep" required>
                                    <option disabled selected value></option>
                                    <option>crude extract</option>
                                    <option>microsomal</option>
                                    <option>plasma membrane</option>
                                    <option>IP</option>
                                </select>
                            </div>

                            <p>React Node Here</p>
                        </fieldset>

                    </div>
                </div>
                <!---->

                <div class="group">
                    <div class="container">
                        <span class="badge"></span>
                        <fieldset>
                            <img src="/img/Right-Align-Txt.png" class="center">

                            <h3 class="group-label">New Construct for Database</h3>

                            <div class="form-group">
                                <label>Sequence information <span data-icon="&#x74;" class="tip"
                                                                  data-tipso="This needs to be filled out"></span></label>
                                <input class="form-control" type="text" id="sequenceInfo" name="sequenceInfo" required>
                            </div>
                        </fieldset>

                    </div>
                </div>
                <!---->
            </div>
        </div>


        <div class="group">
            <div class="container">
                <img src="/img/Guides.png" class="center">

                <h3 class="group-label">Sample Description</h3>

                <div id="samples"></div>

                <div class="btn btn-primary-outline btn-block" id="addSample">Add Sample</div>

                <label><span data-icon="&#x70;"></span> You can drag to reorder</label>


            </div>
        </div>


        <div class="container">
            <input type="submit" class="btn btn-success btn-block">
        </div>


    </div>
</form>

<% include foot.ejs %>