html, body {
    color:#414A51;
}

h1,h2,h3,h4,h5{
    font-weight: 300;
}

.navbar {
    margin-bottom: 20px;
    color: #FFFFFF;
    background-color: #0098CE;
}

.navbar .navbar-brand{
    color: #FFFFFF;
    /*font-weight: 800;*/
}
.navbar .navbar-brand:hover{
    color: #FFFFFF;
    opacity: 0.9;
}

input, select {
    height: 38px;
}

input[type="checkbox"] {
    height: inherit;
}

.draggInner, .draggInner label {
    /*cursor: move;*/
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
}

.draggInner {
    border: 2px dashed rgba(0, 0, 0, 0.25);;
    border-radius: 4px;
    padding: 4px;
    margin-bottom: 8px;
}

/*.form-row {*/
/*margin-bottom: .8rem;*/
/*}*/

.group {
    padding: 2rem 0;
    border: inset 1px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    margin: 20px 0;
    /*border-top: inset 1px rgba(0, 0, 0, 0.1);*/

    /*-webkit-box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.15);*/
    /*-moz-box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.15);*/
    /*box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.15);*/
}

.group img {
    display: block;
    margin: auto;
}

.group label {
    margin-bottom: 0;
}

.group .badge {
    position: relative;
    top: -15px;
    padding: 4px;
    background: #F0725E;
    border-radius: 4px;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 0.5rem;

    height: 8px;
    width: 8px;
    display: block;
}

.group .badge.complete {
    background: #A0D468;
}

.group-label {
    margin-top: 1rem;
    margin-bottom: 2rem;
    text-align: center;
}

.zebra {
    background: #F5F7FA;
}

.group-submit {
    padding-bottom: 1.5rem;
}

#new-form {
    -webkit-transition: opacity 1s;
    transition: opacity 1s;
    opacity: 1;

    padding-bottom: 20px;
}

#new-form.disabled {
    pointer-events: none;
    position: relative;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #ddd;
    content: '';
    /*-webkit-transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;*/
    /*transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;*/

    opacity: 0.25;

}

.navbar-brand img {
    display: inline-block;
    height: 27px;
    margin-right: 8px;
}

.removeSample {
    text-align: center;
    font-size: 40px;
    color: #F0725E;
    cursor: pointer;

    line-height: 78px;
}

.tip {
    color: #429FDE;
}

@media (max-width: 544px) {
    .removeSample {
        line-height: 45px;
    }
}

.bold {
    font-weight: bold;
}

/*LOADER*/

#page-loader {
    display: block;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: #fefefe;
    z-index: 100000;
}

.loader {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -25px 0 0 -25px;
    font-size: 10px;
    text-indent: -12345px;
    border: 1px solid rgba(0, 0, 0, 0.08);
    border-left-color: rgba(70, 192, 235, 0.8);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -webkit-animation: spinner 700ms infinite linear;
    -moz-animation: spinner 700ms infinite linear;
    -ms-animation: spinner 700ms infinite linear;
    -o-animation: spinner 700ms infinite linear;
    animation: spinner 700ms infinite linear;
    z-index: 100001;
}

@-webkit-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-moz-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-o-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
