body {
    margin-bottom: 24px;
}

.bar h1 {
    font-weight: 200;
    /*font-weight: 900;*/
}

#footer {
    position: fixed;
    bottom: 0;
}

.form-row {
    margin-bottom: .8rem;
}

.group {
    padding-top: 2rem;
    border-top: inset 1px rgba(0, 0, 0, 0.05);
}

.group-label {
    margin-top: .5rem;
    text-align: center;
}

.zebra {
    background: #F5F7FA;
}

.group-submit {
    padding-bottom: 1.5rem;
}

#new-form {
    -webkit-transition: opacity 1s;
    transition: opacity 1s;
    opacity: 1;

    margin-bottom: 0;
}

#new-form.disabled {
    pointer-events: none;
    position: relative;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #ddd;
    content: '';
    /*-webkit-transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;*/
    /*transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;*/

    opacity: 0.25;

}

.mb0 {
    margin-bottom: 0;
}

.mb1 {
    margin-bottom: 1rem;
}

.mb2 {
    margin-bottom: 2rem;
}

.mt0 {
    margin-top: 0;
}

.mt1 {
    margin-top: 1rem;
}

.mt2 {
    margin-top: 2rem;
}

.m0 {
    margin: 0;
}

/*.print-label {*/
/*/!*background: orange;*!/*/
/*border: 4px dashed black;*/
/*display: inline-block;*/
/*font-size: 2em;*/
/*font-weight: 700;*/
/*padding: 8px;*/
/*}*/

/*.print-label .print-label-block {*/
/*float: left;*/
/*}*/

/*.print-label .print-label-block:nth-of-type(2), .print-label .print-label-block:nth-of-type(3){*/
/*margin-left: 2rem;*/
/*}*/

.huge {
    font-weight: 900;
    font-size: 3rem;
}

